@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body, h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

:root {
  --sidebar-bg: #FFDEAD; /* 사이드바 배경색 */
  --link-color: #8B4513; /* 링크색 */
  --btn-bg: #8B4513;
  --text-color: #333333; /* 글자색 */
}
