---
---

@import 'main';


@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body, h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: 'Pretendard', sans-serif !important;
}

:root, [data-theme="light"] {
  --sidebar-bg: #FFDEAD !important; 
  --link-color: #8B4513 !important; 
  --btn-bg: #8B4513 !important;
}
